:root {
    --xxs-viewport: only screen and(min-width: 320px);
    --xs-viewport: only screen and(min-width: 480px);
    --s-viewport: only screen and(min-width: 768px);
    --m-viewport: only screen and(min-width: 1024px);
    --l-viewport: only screen and(min-width: 1440px);
    --xl-viewport: only screen and(min-width: 1768px);
}