:root {
    --spacing-xxx-smal: 0.125rem; //2px in rem = 16px
    --spacing-xx-smal: 0.25rem;
    --spacing-x-smal: 0.5rem;
    --spacing-smal: 0.75rem;
    --spacing-medium: 1rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-x-large: 2rem;
    --spacing-xx-large: 4rem; //48px
}