:root {
    --z-zindex-deepdive: -900;
    --z-zindex-below: -1;
    --z-zindex-default: 1;
    --z-zindex-above: 2;
    --z-zindex-dropdown: 100;
    --z-zindex-sticky: 200;
    --z-zindex-fixed: 300;
    --z-zindex-backdrop: 400;
    --z-zindex-modal: 500;
    --z-zindex-popover: 600;
    --z-zindex-tooltip: 700;
    --z-zindex-topless: 900;
}